.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border: 1px solid black;
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
      border: 1px solid black;
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
      border: 1px solid black;
    }
  }
  

