  .collection-item{
      width: 22vw;
      height: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      border: 1px solid black;
    
      .image{
          width: 100%;
          height: 95%;
          background-size:cover;
          background-position: center;
          margin-bottom: 5px;
          position: relative;
      }

      .custom-button{
          width:75%;
          position: absolute;
          opacity: .7;
          top: 255px;
          display: none;
        }
              &:hover{
                  .image{
                      opacity: .8;
                      transition: all .3s;
                  }

                  .custom-button{
                      display: flex;
                      justify-content: center;

                      opacity: .85;
                     
                  }
              }


      
      .collection-footer{
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        font-size: 19px;


        .name{
            width: 90%;
            margin-bottom: 15px;
        }

        .price{
            width: 10%;
        }
      }
  }