.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;

  .title {
    margin: 10px 0;
    border: 1px solid black;

  }

  .buttons {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
  }
}