.cart-dropdown{
    position: absolute;
    width: 250px;
    height: 340px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    top: 90px;
    right: 40px;
    z-index: 5;
    background-color: white;
    // background-image: url('../../assets/dragon.svg');
    // background-repeat: no-repeat;



    

    .empty-message{
        font-size: 18px;
        margin: 50px auto;
    }



    .cart-items{
     height: 250px;
     display: flex;
     flex-direction: column;
     overflow-y: scroll;
    }

    button{
        margin-top: auto;
    }
}