.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;

  
    .title {
      margin: 10px 0;
    }


    @media(max-width: 800px){
      margin-top: 60px;
    }

    
    @media(max-width: 400px){
        width: 340px;
    }

    @media(max-width: 320px){
      width: 258px;
  }
  }