.checkout-item {
    width: 100%;
    display: flex;
    min-height: 100px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;
    // border: 1px solid black;
  
    .image-container {
      width: 23%;
      padding-right: 15px;
      // border: 1px solid black;
  
      img {
        width: 100%;
        height: 100%;
        // border: 1px solid black;
      }
    }
    .name,
    .quantity,
    .price {
      width: 23%;
      // border: 1px solid black;
    }
  
    .quantity {
      display: flex;
      // justify-content: space-between;
      // border: 1px solid black;
      flex-direction: column;
      margin-top: 25px;

      .arrow{
        cursor: pointer;
        // border: 1px solid black;
        margin-top:2px;
      }

      .value{
        margin: 0 10px;
        margin: 2px;
        // border: 1px solid black;
      }
    }
  
    .remove-button {
      padding-left: 12px;
      cursor: pointer;
      // border: 1px solid black;
    }

    .qnt-item{
      // border: 1px solid black;
      display: flex;
    }

    .size{
      margin:0px 10px 0 0;

    }
  }
  